/*
*    Serval main css file
*    11.05.2017
*/

@font-face {
    font-family: 'UbuntuBold';
    src:url('../fonts/woff2/ubuntu-b.woff2') format('woff2'),
        url('../fonts/woff/ubuntu-b.woff') format('woff'),
        url('../fonts/ttf/ubuntu-b.ttf') format('truetype'),
        url('../fonts/svg/ubuntu-b.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoRegular';
    src:url('../fonts/woff2/roboto-r.woff2') format('woff2'),
        url('../fonts/woff/roboto-r.woff') format('woff'),
        url('../fonts/ttf/roboto-r.ttf') format('truetype'),
        url('../fonts/svg/roboto-r.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html{ height: 100%; }

body{
    height: 100%;
    font-family: 'RobotoRegular';
    line-height: normal;
}

/*****     header     *****/

header{
    background-color: rgb(56,56,56);
    height: 50px;
    box-shadow: 80px 5px 13px 0px rgba(0,0,0,0.40);
    z-index: 300;
    flex-direction: row;
}

.header-item{ border-bottom: 2px solid #FF6F00; }

.logo-wrapper{
    padding-left: 30px;
    flex: 0 0 300px;
    padding-top: 8px;
}


/*****     content     *****/

main {
    background-color: white;
    padding-top: 50px;
    padding-left: 80px;
    min-height: 100%;
}

.content-wrapper{
    padding: 10px 20px 4px 20px;
    margin: 0px 5px 0px 5px;
}

.content-wrapper .breadcrumb{
    margin-bottom: 8px;
    border-radius: 5px;
    background-color: #F0F0F0;
}

.content-wrapper .alert{
    margin-bottom: 8px;
    border-radius: 5px;
}

.page-title-wrapper{
    padding: 3px 0px 3px 0px;
    margin-bottom: 15px;
    border-bottom: 2px solid lightgrey;

}

.page-title-wrapper h1{
    font-size: 29px;
    margin: 0px;
}

/*****     footer     *****/

.fake-footer{ height: 110px; }

footer{
    margin-top: -110px;
    height: 110px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 80px;
    background-color:#F0F0F0;
    color:rgb(105,105,105);
    border-top: 2px solid #ddd;
}

.foter-content{
    font-size: 14px;
    margin-top: 40px;
    padding-left: 40px;
}


/*****     Global Rules     *****/

a:hover, a:active, a:focus { outline: 0; }
.fixed { position: fixed; }
.flex-container{ display: flex; }
.flex-item{ flex: auto;}
.page-width{ width: 100%; min-width: 1320px; }
.text-decoration-off{ text-decoration: none; }
.text-decoration-off:hover{ text-decoration: none; }
.text-decoration-off:visited{ text-decoration: none; }
.nowrap{ white-space: nowrap; }

.outline-red{ outline: 1px solid red; }
.outline-blue{ outline: 2px solid blue; }
.outline-green{ outline: 3px solid green; }
.red{ color: red; }
.green{ color: #5cb85c; }
.text-align-center{ text-align: center;}

.vertical-align-middle{vertical-align:middle;}
table tr td.vertical-align-middle{vertical-align:middle;}

thead.blue-thead{background-color: #d9edf7;}
thead.green-thead{background-color: #dff0d8;}


/*****    FONTS SIZE    *****/

.font-size-13px{font-size:13px;}
.font-size-14px{font-size:14px;}
.font-size-15px{font-size:15px;}
.font-size-16px{font-size:16px;}
.font-size-17px{font-size:17px;}
.font-size-20px{font-size:20px;}
.font-size-24px{font-size:24px;}
.font-size-23px{font-size:23px;}
