/* carousel-item/create */
.carousel-item-form{ width: 600px; }



/* carousel list simple table*/
.slides-list-wrapper{ width: 800px; }
.slides-list-wrapper .slides-list-id{  width: 58px; }
.slides-list-wrapper .slides-list-order{  width: 116px; }
.slides-list-wrapper .slides-list-title{  width: 418px; }
.slides-list-wrapper .slides-list-image{  width: 208px; }
.slides-list-wrapper .slides-list-detach{  width: 116px; }
.slides-list-wrapper .slides-list-detach-content{  font-size: 25px; vertical-align: middle; text-align: center; }
.slides-list-wrapper tr td.vertical-align-middle{ vertical-align:middle; }
.bg-white tbody > tr:nth-of-type(even) { background-color: white; }

/* /carousel/sort-carousel-items */
.carousel-sort-items.slides-list-wrapper{ width: 1100px; }

/* /carousel/update */
.carousel-update.slides-list-wrapper{ width: 916px; }

/* carousel/attach-carousel-items*/
.attach-detach-carousel-item{
    width: 16px;
    height: 16px;
}


